nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-background);
    width:  100%;
    box-shadow:  0px  1px  8px  3px var(--warm-black);
    height: 75px;
    position: fixed; /* Add this line */
    top:  0; /* Add this line */
    z-index:  1000; /* Add this line to ensure the nav bar is above other content */
}

ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: inherit;
}

li {
    color: var(--warm-black);
}

a{
    /* To be able to see the action area  */
    /* background: red; */
    border-radius: 2rem;
    padding: 1rem;
}